<%- include('partials/header') %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= catalog.title %></div>
    <div class="ui top attached ">
        <div class="item">
            <p><%= catalog.artist %></p>
        </div>
        <div class="item">
            <div class="description">
                <p><%= catalog.body %></p>
            </div>
        </div>
            </form>
    </div>  
</div>
<%- include('partials/footer')%>
