<%- include('partials/header') %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= catalog.title %></div>
    <div class="ui top attached ">
        <div class="item">
            <h2><%= catalog.artist %></h2>
        </div>
        <div class="item">
            <div class="description">
                <p><%= catalog.body %></p>
            </div>
        </div>
        <a href="/albums/<%=catalog._id%>/edit"><p>Edit this album</p></a>
        <form id="delete" action="/albums/<%= catalog._id %>?_method=DELETE" method="POST">
            <button class="ui red basic button">Delete</button>
        </form>
    </div>  
</div>
<%- include('partials/footer')%>
